/EXTRA
/SAVED_MODEL
/saved_model8
/dataset_small copy
/dataset_small copy 2
/dataset_small copy 3
/dataset_small copy 4
/dataset_small_arcface
/dataset_small_sface
/dataset_small_facenet
/dataset_small_facenet512
/dataset_small_vggFace
/dataset_small_openface